body {
    font-family: Garamond, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    color: #0a0202;
    text-align: left;
    padding: 20px;
  }
  
  nav {
    width:90%;
    height:15vh;
    margin:auto;
    display:flex;
    align-items:center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    align-items:center;
  }
  
  nav ul li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items:center;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    align-items:center;
  }
  .container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(45deg, #ffffff,#ffffff);
    color:#000000;
    position:relative;
}
.gallery img{
    width:100%;
    border:10px solid rgb(0, 0, 0);
    box-sizing:border-box;
}
.gallery {
    position: relative;
    display: inline-block;
}

.gallery img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.gallery:hover .image-overlay {
    opacity: 1;
}
body
{
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    font-family: Garamond, sans-serif;
    font-weight: bold;
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #000000;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
label{
    color: #ffffff;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: rgb(0, 0, 0);

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(0, 0, 0);
    font-family: Garamond, sans-serif;
    font-weight: bold;

}
span{
    color: rgb(255, 255, 255);
    font-size: 17px;
}
a{
    float: right;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}